<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>เลือกสถานที่จอดรถ - Easy Parking</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 h-screen flex items-center justify-center">
    <div class="bg-white p-8 rounded-lg shadow-lg w-96">
        <h1 class="text-2xl font-bold text-center mb-4 text-gray-800">เลือกสถานที่จอดรถ</h1>

        
        


        <!-- ลิงก์กลับหน้าแรก -->
        <div class="mt-4 text-center">
            <a href="{% url 'homepage' %}" class="text-sm text-blue-600 hover:underline">กลับไปที่หน้าแรก</a>
        </div>
    </div>
</body>

</html>